<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="Styles.css">
    </head>
    <body>
        <center> <h1>  Fill in employee details </h1> </center> 
        <form th:action= "@{/addEmployee}" th:object="${employee}" method="POST">
            <fieldset>
                <legend>
                    <h1 class="form-legends">Personal Details</h1>
                </legend>
                <p>
                    <label for= "name" >First Name </label>
                    <input type="text" name= "name" th:field= "*{name}" placeholder="name"> 

                    <label for= "surname" >Last Name </label>
                    <input type="text" name= "surname" th:field= "*{surname}" placeholder= "surname">

                    <label for= "dob" >Date Of Birth</label>
                    <input type="text" name= "dob">

                    <label for= "id_number" >ID No.</label>
                    <input type="text" name= "id_number">
                </p>
                <p>
                  <label for= "jobTitle" >Job Title</label>
                    <input type="text" name= "jobTitle" th:field= "*{jobTitle}" placeholder= "job title"> <br>  
                </p>
            </fieldset>
            <fieldset>
                <legend>
                    <h1 class="form-legends">Contact Details</h1>
                </legend>
                <label>Physical Address</label> <br>
                <div class="physical_address">
                    <p class="grid-item">
                        <div >
                            <label for= "physical_address-unit" >unit no </label><br><br>
                            <label for= "physical_address-str-num" >street number </label> <br><br>
                            <label for= "physical_address-surbub" >surbub</label> <br><br>
                            <label for= "physical_address-province" >province</label>
                        </div>

                        <div>
                            <input type="text" name= "physical_address-unit"> <br><br>   
                            <input type="text" name= "physical_address-str-num"> <br><br>    
                            <input type="text" name= "physical_address-surbub"> <br><br>            
                            <input type="text" name= "physical_address-str-province">
                        </div>
                        
                    </p>
                    <P class="grid-item" style="padding-left: 40px;"> 
                        <div>
                            <label for= "physical_address-complex" >complex name </label><br><br>
                            <label for= "physical_address-str_name" >street name </label><br><br>
                            <label for= "physical_address-city">city</label> </label><br><br>
                            <label for= "physical_address-postal-code" >postal code</label>
                        </div>
                        <div>
                            <input type="text" name= "physical_address-complex"> <br><br>
                            <input type="text" name= "physical_address-str-name"> <br><br>
                            <input type="text" name= "physical_address-city"> <br><br>
                            <input type="text" name= "physical_address-postal-code"> 
                        </div>
                    </P>
                    </div>
            </fieldset>
            <fieldset>
                <legend>
                    <h1>Employement Details</h1>
                </legend>
            </fieldset>
            <p>
                <button type="submit" name="submit" value= 0>Add Employee</button> 
            </p>
        </form>     
    </body>
</html>