<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <center><h1>Employee Management System</h1></center>
        <link rel="stylesheet" href="Styles.css">
    </head>
    <body>  
        <div>
            <center>
                <table class="employees-content" >
                    <thead>
                        <tr>
                            <th>Employee Name </th>
                            <th>Position</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row" th:each="employee :${listEmployees}" >
                            <td class="column" th:text="${employee.name + ' ' + employee.surname}"></td>
                            <td class="column" th:text="${employee.jobTitle}"></td>
                            <td class="column" >
                                <a class="button-links" id="update" th:href="@{/edit/{id}(id=${employee.id})}">Update</a>
                                <a class="button-links" id="delete" href="delete">Delete</a>
                            </td>
                        </tr>
                        <tr class="row">
                            <td></td>
                            <td></td>
                            <td >
                                <a class="button-links" id="add" href="/employeeForm">Add Employee</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
    </body>
</html>