<!DOCTYPE html>
<html>
    <head>
        <h1>Manage your employees</h1>
        <link rel="stylesheet" href="indexStyle.css">
    </head>
    <body>  
        <div>
            <table id= "table" >
                <tr id= tr >
                  <th id=th >Employee Name </th>
                  <th id=th >Contact</th>
                  <th id=th >Manage</th>
                </tr>
                <tr id=tr >
                  <td id=td >stha lushaba</td>
                  <td id=td >0732879477</td>
                  <td id=td >
                      <a href="edit">edit</a>
                      <a href="delete">delete</a>
                  </td>
                </tr>
                <tr id=tr >
                    <td id=td ></td>
                    <td id=td ></td>
                    <td id=td ><a href="/add">add</a></td>
                  </tr>
              </table>
        </div>
    </body>
</html>